.Bg {
  text-align: center;
  background: url(./f.jpg) no-repeat center center fixed;  
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
.page-title {
    color:white;
 }

 .title {
  display: inline;
  font-size: 2.2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0.3em;
  user-select: none;
  color: black;
  background: rgb(126, 124, 124);
 }